Repository VeryGoodOpenSource/very_good_templates, pull requests merged in 2024-02, with the labels that each got.

#16 feat(very_good_dart_package)!: update to Dart 3.3.0
  .github/workflows/very_good_dart_package.yaml
  very_good_dart_package/__brick__/{{project_name.snakeCase()}}/pubspec.yaml
Labels: very_good_dart_package

#20 feat(very_good_flame)!: update to Flutter 3.19.0
  .github/workflows/very_good_flame_game.yaml
  very_good_flame_game/__brick__/{{project_name.snakeCase()}}/pubspec.yaml
Labels: very_good_flame_game

#24 feat(very_good_core)!: update to Flutter 3.19.0
  .github/workflows/very_good_core.yaml
  very_good_core/__brick__/{{project_name.snakeCase()}}/pubspec.yaml
  very_good_core/hooks/pubspec.yaml
Labels: very_good_core

#22 feat(very_good_dart_cli)!: update to Dart 3.3.0
  .github/workflows/very_good_dart_cli.yaml
  very_good_dart_cli/__brick__/{{project_name.snakeCase()}}/pubspec.yaml
  very_good_dart_cli/hooks/pubspec.yaml
Labels: very_good_dart_cli

#27 feat(very_good_wear_app)!: update to Flutter 3.19.0
  .github/workflows/very_good_wear_app.yaml
  very_good_wear_app/__brick__/{{project_name.snakeCase()}}/pubspec.yaml
  very_good_wear_app/e2e/pubspec.yaml
  very_good_wear_app/hooks/pubspec.yaml
Labels: very_good_wear_app

#28 chore: update bricks to Mason 0.1.0-dev.52
  very_good_core/brick.yaml
  very_good_dart_cli/brick.yaml
  very_good_dart_package/brick.yaml
  very_good_docs_site/brick.yaml
  very_good_flame_game/brick.yaml
  very_good_flutter_package/brick.yaml
  very_good_wear_app/brick.yaml
Labels: chore, very_good_dart_cli, very_good_dart_package, very_good_flame_game, very_good_core, very_good_docs_site, very_good_flutter_package, very_good_wear_app

#31 ci: add dependabot.yaml
  .github/dependabot.yaml
Labels: ci

#37 docs: add very_good_flutter_plugin to table
  README.md
Labels: documentation, product: very_good_flutter_plugin

#41 chore(very_good_flutter_plugin): update repository url
  very_good_flutter_plugin/brick.yaml
Labels: chore, product: very_good_flutter_plugin

#48 refactor(very_good_flutter_plugin): template flutterVersion
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#android}}{{project_name.snakeCase()}}_android.yaml{{/android}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#ios}}{{project_name.snakeCase()}}_ios.yaml{{/ios}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#linux}}{{project_name.snakeCase()}}_linux.yaml{{/linux}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#macos}}{{project_name.snakeCase()}}_macos.yaml{{/macos}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#web}}{{project_name.snakeCase()}}_web.yaml{{/web}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{#windows}}{{project_name.snakeCase()}}_windows.yaml{{/windows}}
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{project_name.snakeCase()}}.yaml
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/.github/workflows/{{project_name.snakeCase()}}_platform_interface.yaml
  very_good_flutter_plugin/hooks/pre_gen.dart
Labels: refactor, product: very_good_flutter_plugin

#49 refactor(very_good_flutter_plugin): define versions in version.dart file
  very_good_flutter_plugin/hooks/lib/version.dart
  very_good_flutter_plugin/hooks/pre_gen.dart
  very_good_flutter_plugin/hooks/test/pre_gen_test.dart
Labels: refactor, product: very_good_flutter_plugin

#50 feat(very_good_flutter_plugin)!: bump version to 3.19.0
  .github/workflows/very_good_flutter_plugin.yaml
  very_good_flutter_plugin/hooks/lib/version.dart
  very_good_flutter_plugin/hooks/pubspec.yaml
  very_good_flutter_plugin/tool/merge_coverage/pubspec.yaml
Labels: feature, product: very_good_flutter_plugin

#51 feat(very_good_flutter_plugin): tighten hook dependencies
  very_good_flutter_plugin/hooks/pubspec.yaml
Labels: feature, product: very_good_flutter_plugin

#52 chore(very_good_flutter_plugin): update bricks to Mason 0.1.0-dev.52
  very_good_flutter_plugin/brick.yaml
Labels: chore, product: very_good_flutter_plugin

#53 chore(very_good_flutter_plugin): tighten dependencies
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/{{#android}}{{project_name.snakeCase()}}_android{{/android}}/pubspec.yaml
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/{{#ios}}{{project_name.snakeCase()}}_ios{{/ios}}/pubspec.yaml
  very_good_flutter_plugin/__brick__/{{project_name.snakeCase()}}/{{project_name.snakeCase()}}/pubspec.yaml
Labels: chore, product: very_good_flutter_plugin

#55 chore(very_good_flutter_plugin): add previous contributors
  very_good_flutter_plugin/.gitignore
Labels: chore, product: very_good_flutter_plugin

#54 chore(very_good_flutter_plugin): v0.7.0
  very_good_flutter_plugin/CHANGELOG.md
  very_good_flutter_plugin/brick.yaml
  very_good_flutter_plugin/hooks/lib/version.dart
Labels: chore, product: very_good_flutter_plugin

#57 chore(very_good_flame_game): add previous contributors
  very_good_flame_game/.gitignore
Labels: chore, product: very_good_flame_game

#56 chore(very_good_flame_game): v0.6.0
  very_good_flame_game/CHANGELOG.md
  very_good_flame_game/brick.yaml
Labels: chore, product: very_good_flame_game

#58 chore(very_good_dart_package): add previous contributors
  very_good_dart_package/.gitignore
Labels: chore

#59 chore(very_good_dart_package): v0.5.0
  very_good_dart_package/CHANGELOG.md
  very_good_dart_package/brick.yaml
Labels: chore, product: very_good_dart_package

#61 chore(very_good_dart_cli): v0.6.0
  very_good_dart_cli/CHANGELOG.md
  very_good_dart_cli/brick.yaml
Labels: chore, product: very_good_dart_cli

#64 chore(very_good_flutter_package): add previous contributors
  very_good_flutter_package/.gitignore
Labels: chore, product: very_good_flutter_package

#65 chore(very_good_docs_site): add previous contributors
  very_good_docs_site/.gitignore
Labels: chore, product: very_good_docs_site

#63 chore(very_good_core): v0.6.0
  very_good_core/CHANGELOG.md
  very_good_core/brick.yaml
Labels: chore, product: very_good_core

#68 chore(very_good_wear_app): add previous contributors
  very_good_wear_app/.gitignore
Labels: chore, product: very_good_wear_app

#69 chore(very_good_wear_app): v0.4.0
  very_good_wear_app/CHANGELOG.md
  very_good_wear_app/brick.yaml
Labels: chore

#72 refactor(very_good_flutter_plugin): remove logs during pre_gen
  very_good_flutter_plugin/hooks/pre_gen.dart
Labels: refactor, product: very_good_flutter_plugin

#73 chore(very_good_fluter_plugin): v0.7.1
  very_good_flutter_plugin/CHANGELOG.md
  very_good_flutter_plugin/brick.yaml
Labels: chore, product: very_good_flutter_plugin

#70 fix: deprecated imperative apply of Flutter's Gradle plugins
  very_good_core/__brick__/{{project_name.snakeCase()}}/android/app/build.gradle
  very_good_core/__brick__/{{project_name.snakeCase()}}/android/build.gradle
  very_good_core/__brick__/{{project_name.snakeCase()}}/android/settings.gradle
Labels: product: very_good_core

#77 refactor: remove explicitly named libraries
  very_good_dart_cli/__brick__/{{project_name.snakeCase()}}/lib/{{project_name.snakeCase()}}.dart
  very_good_dart_cli/__brick__/{{project_name.snakeCase()}}/test/ensure_build_test.dart
  very_good_dart_package/__brick__/{{project_name.snakeCase()}}/lib/{{project_name.snakeCase()}}.dart
  very_good_flutter_package/__brick__/{{project_name.snakeCase()}}/lib/{{project_name.snakeCase()}}.dart
  very_good_flutter_plugin/hooks/lib/src/cli/cli.dart
  very_good_flutter_plugin/hooks/lib/version.dart
  very_good_flutter_plugin/hooks/lib/very_good_flutter_plugin_hooks.dart
  very_good_flutter_plugin/tool/merge_coverage/merge_coverage.dart
Labels: refactor, product: very_good_dart_cli, product: very_good_dart_package, product: very_good_flutter_package

#78 fix(very_good_flame_game): deprecated imperative apply of Flutter's Gradle plugins
  very_good_flame_game/__brick__/{{project_name.snakeCase()}}/android/app/build.gradle
  very_good_flame_game/__brick__/{{project_name.snakeCase()}}/android/build.gradle
  very_good_flame_game/__brick__/{{project_name.snakeCase()}}/android/settings.gradle
Labels: product: very_good_flame_game

#79 fix(very_good_wear_app): deprecated imperative apply of Flutter's Gradle plugins
  very_good_wear_app/__brick__/{{project_name.snakeCase()}}/android/app/build.gradle
  very_good_wear_app/__brick__/{{project_name.snakeCase()}}/android/build.gradle
  very_good_wear_app/__brick__/{{project_name.snakeCase()}}/android/settings.gradle
Labels: product: very_good_wear_app

#82 chore(very_good_dart_package): v0.5.1
  very_good_dart_package/CHANGELOG.md
  very_good_dart_package/brick.yaml
Labels: product: very_good_dart_package

#83 chore(very_good_flutter_package): v0.5.1
  very_good_flutter_package/CHANGELOG.md
  very_good_flutter_package/brick.yaml
Labels: chore, product: very_good_flutter_package

#84 chore(very_good_dart_cli): v0.6.1
  very_good_dart_cli/CHANGELOG.md
  very_good_dart_cli/brick.yaml
Labels: chore, product: very_good_dart_cli

#85 chore(very_good_flame_game): v0.6.1
  very_good_flame_game/CHANGELOG.md
  very_good_flame_game/brick.yaml
Labels: chore, product: very_good_flame_game
